.color-picker-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .color-picker-item label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .color-picker-item input[type="color"] {
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
  }
  